body {
    background-color: #3b3b3b;
    font-family: 'Ubuntu', cursive;
}
 h2 {
    color: rgb(240, 213, 10);
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 2.5% 4.5%;
}
thead {
    border: 1px solid #fbfbfb;
}
thead td {
    color: #fefef3;
}
tbody {
    border: 1px solid #fbfbfb;
}
tbody td {
    color: #BBBCB6;
}
tbody td a {
    text-decoration: none;
    color: #e8e9eb;
}
td {
    border: 1px solid #fbfbfb;
    padding: 5px 10px;
}